@use "../../styles/variables" as v;

.fullPageContainer {
  height: 100%;
  display: flex;
  flex: 1;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;

  &.maxWidth {
    max-width: v.$page-max-width;
  }
}

:export {
  skyBlue: v.$sky-blue;
}
