@use "../../../../styles/variables" as v;

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .linksContainer {
    color: v.$sharp;
    a {
      margin: 0 10px;
    }
  }
}
