@use "../../../../../styles/variables" as v;

.mediaControlContainer {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: v.$media-card-date-color;
  .downloadButton {
    font-size: 20px;
    color: v.$media-card-date-color;
  }
}
