@use "../../../../styles/variables" as v;

.tagsCardContainer {
  max-width: v.$album-max-width;
  min-height: 50px;
  width: 100%;
  padding: v.$album-padding;
  margin: 20px auto 10px auto;
  p {
    margin: 0 0 12px 0;
  }
  .tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
