.masonryGrid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -10px; /* gutter size offset */
  width: auto;
  max-width: 1400px;
}

.masonryGridColumn {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
}

.masonryGridColumn > div {
  margin-bottom: 10px;
}
