@use "../../../../styles/variables" as v;

.albumContainer {
  background-color: yellow;
  width: 100%;
  max-width: v.$album-max-width;
  display: flex;
  flex-direction: column;
  align-items: center;
}
