@use "../../../../styles/variables" as v;

.albumContainer {
  width: 100%;
  max-width: v.$album-max-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: v.$album-padding;
}
