@use "../../styles/variables" as v;

.cardContainer {
  position: relative;
  border-radius: v.$media-card-border-radius;

  &:hover .closeButton {
    background-color: rgba(2, 1, 1, 0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }

  .closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    background: none;
    width: v.$media-card-close-button-box-size;
    height: v.$media-card-close-button-box-size;
    border: none;
    border-radius: v.$media-card-border-radius;
    outline: none;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: v.$media-card-close-button-size;
  }
}
