$sky-blue: #53c0f0;
$sharp-blue: #454e9e;
$border-gray: #e5e7e9;
$error-red: #e4584c;
$input-placeholder-color: rgba(0, 0, 0, 0.2);
$input-text-color: rgba(0, 0, 0, 0.6);
$sharp: #f07c42;
$focus: #ffcc5c;
$close-button-color: #f0f0f0;
$unselected-tag-color: #d6dbdf;
$selected-tag-color: #3d3b8e;
$media-card-controls-bg-color: rgba(255, 255, 255, 0.25);

$page-max-width: 2000px;
$input-height: 48px;
$media-card-border-radius: 0rem;
$media-card-close-button-size: 20px;
$media-card-close-button-box-size: 30px;
$media-grid-gutter-size: 20px;
$media-card-max-width: 600px;
$media-gallery-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
  0 6px 6px rgba(0, 0, 0, 0.23);
