$sky-blue: #53c0f0;
$sharp-blue: #454e9e;
$border-gray: #e5e7e9;
$input-placeholder-color: rgba(0, 0, 0, 0.2);
$input-text-color: rgba(0, 0, 0, 0.6);
$sharp: #f07c42;
$focus: #ffcc5c;
$input-height: 48px;
