$sky-blue: #53c0f0;
$success: #119822;
$warning: #ffe548;
$sharp-blue: #454e9e;
$border-gray: #e5e7e9;
$error-red: #e4584c;
$light-text-color: rgba(0, 0, 0, 0.4);
$input-placeholder-color: rgba(0, 0, 0, 0.2);
$input-text-color: rgba(0, 0, 0, 0.6);
$sharp: #f07c42;
$focus: #ffcc5c;
$close-button-color: #f0f0f0;
$unselected-tag-color: #d6dbdf;
$selected-tag-color: #3d3b8e;
$media-card-controls-bg-color: rgba(0, 0, 0, 0.25);
$media-uploader-progress-color: #cb48b7;
$media-card-date-color: rgba(0, 0, 0, 0.3);
$album-header-color: #1b1f3b;
$media-viewer-tag-color: #7c7a7a;

$page-max-width: 2000px;
$album-max-width: 600px;
$album-padding: 0 10px;
$albug-tag-color: #f1a208;
$input-height: 48px;
$media-card-border-radius: 0rem;
$media-card-close-button-size: 20px;
$media-card-close-button-box-size: 30px;
$media-grid-gutter-size: 20px;
$media-card-max-width: 600px;
$media-gallery-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
  0 6px 6px rgba(0, 0, 0, 0.23);
